body {
}

.container {
    display: flex;
    justify-content: flex-start;
    height: 100vh;
    flex-direction: column;
}

.header {
    color: white;
    height: 7vh;
}
h3 {
    color: white;
}
a {
    cursor: pointer;
    border-bottom: solid 2px;
}
.info-text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.add-btn {
    font-size: 50px;
    color: white;
}
.order-container {
    width: 100%;
}
.foreground {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    background-color: white;
    height: 30vh;
    width: 100%;
    border-radius: 50px;
    margin-bottom: 3%;
    padding-right: 40px;
}

img {
    border-radius: 50px;
    width: 30vh;
}
.rewrite-icon {
    width: 5vh;
    border-radius: 0px;
    cursor: pointer;
}
.image-container {
    display:flex;
    justify-content: center;
    height: 30vh;
}

.left-info-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
p {
    margin: 5px 0px 5px 0px;
}
.right-info-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
}

.right-top-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}
.top-container {
    margin-top: 10px;
}
.bottom-container {
    margin-bottom: 10px;
}

.input-container {
    width: 100%;
}

.input {
    width: 100%;
    border: none;
    border-bottom: solid;
}

.red-text {
    font-size: 20px;
    color: red;
}

.btn-container {
    margin-bottom: 3vh;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 15vw;
    height: 100%;
}

.btn {
    border: none;
    background-image: linear-gradient(to right, #C32424, #2E0148);
    border-radius: 15px;
    font-weight: bold;
    color: white;
    height: 50px;
}
.clickable-span {
    cursor: pointer;
    border-bottom: solid 2px;
}

@media only screen and (max-width: 600px) {
    img {
        height: 50%;
        width: 15vh;
    }
    p {
        font-size: 12px;
    }
}