body {
}
.modal-dialog {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height to center vertically */
    margin: 0 auto; /* Ensure it's horizontally centered */
}

.modal-content {
    margin: 0 auto;
    width: 80vw;
    background: linear-gradient(white, white) padding-box, linear-gradient(to right, #2E0148, #C32424) border-box;
    border-radius: 50px;
    border: 4px solid transparent;
}
.delete-container {
    width: 50vw;
    height: 40vh;
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: space-between;
}
.top-container {
    display: flex;
    justify-content: flex-start;
}
.middle-container {

}
.bottom-container {
    display: flex;
    justify-content: space-between;
}
.btn {
    border: none;
    background-image: linear-gradient(to right, #C32424, #2E0148);
    border-radius: 15px;
    font-weight: bold;
    color: white;
    height: 50px;
}
@media only screen and (max-width: 770px) {
    .delete-container {
        height: auto;
        width: 80vw;
    }
}