.modal-dialog {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height to center vertically */
    margin: 0 auto; /* Ensure it's horizontally centered */
}
.modal-content {
    margin: 0 auto;
    width: 50vw;
    background: linear-gradient(white, white) padding-box, linear-gradient(to right, #2E0148, #C32424) border-box;
    border-radius: 50px;
    border: 4px solid transparent;
}
.inspect-container {
    display: flex;
    flex-direction: column;
    min-height: 40vh;
    width: 80vh;
    padding: 20px;
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.middle {
    display: flex;
    flex-direction: column;
}
.bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.close-btn {
    font-size: 48px;
}
.rating-container {

}
.ratings {

}
.btn {
    border: none;
    background-image: linear-gradient(to right, #C32424, #2E0148);
    border-radius: 15px;
    font-weight: bold;
    color: white;
    height: 50px;
}
