<div class="modal Show" tabindex="-1" role="dialog" style="display: block">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="inspect-container">
                <div class="top">
                    <h3>@(User.UserInfo.Name)'s informationer</h3>
                    <span class="close-btn" @onclick="CloseInspectorEventAsync">X</span>
                </div>
                <div class="middle">
                    <h5>Mail</h5>
                    <p>@User.UserInfo.Email</p>
                    <h5>Telefon nummer</h5>
                    <p>@User.UserInfo.Phone_number</p>
                </div>
                <div class="bottom">
                    <div class="rating-container">
                        <h5>Gennemsnits anmeldelser</h5>
                        <div class="ratings">
                            @for (int i = 0; i < 5; i++)
                            {
                                if (i < AverageRating)
                                {
                                    <img src="images/FilledStar.png" />
                                }
                                else
                                {
                                    <img src="images/EmptyStar.png" />
                                }
                            }
                        </div>
                    </div>
                    <button class="btn" @onclick="WriteRatingEventAsync">Skriv en anmeldelse</button>
                </div>
            </div>
        </div>
    </div>
</div>
